.wrap {
  position: relative;
  min-width: 320px;
  overflow: hidden;
  width: 1180px;
  margin: 0 auto;
}

.header {
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }

  .header_logo {
    a {
      @include sprite($header_logo);
    }
  }

  .btn_info_wrap {
    position: absolute;
    top: 10px;
    right: 0;
  }

  .help {
    &::after {
      content: "";
      display: inline-block;
      vertical-align: top;
      margin: 3px 0 0 3px;
      @include sprite($header_dropdown);
      ;
    }
  }

  .text_btn_wrap {
    font-size: 12px;
    line-height: 12px;
    color: #616161;

    a {
      &+a {
        &::before {
          content: "";
          display: inline-block;
          vertical-align: top;
          margin: 0 12px 0 10px;
          width: 1px;
          height: 12px;
          background-color: #dcdee0;
        }
      }
    }
  }

  .btn_wrap {
    margin-top: 38px;
    display: inline-flex;
    justify-content: end;
    text-align: right;
  }

  .btn_search {
    @include sprite($btn_search);
  }

  .btn_cart {
    @include sprite($btn_cart);
  }

  .btn_mypage {
    @include sprite($btn_mypage);
  }
}