@charset "UTF-8";
@import "../sprite/sp_all";

$sprite-image: 'img/sp_all.png';

@mixin sprite-width($sprite) {
    width: nth($sprite, 5) / 2;
}

@mixin sprite-height($sprite) {
    height: nth($sprite, 6)/ 2;
}

@mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x / 2 $sprite-offset-y / 2;
}

@mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(../img/#{$sprite-image});
}

@mixin sprite-size($sprite) {
    background-size: $spritesheet-width / 2 $spritesheet-height / 2;
}

@mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
    @include sprite-size($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
    @each $sprite in $sprites {
        $sprite-name: nth($sprite, 10);

        .#{$sprite-name} {
            @include sprite($sprite);
        }
    }
}