@charset "UTF-8";
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
	margin: 0;
	padding: 0;
}

body,
input,
textarea,
select,
button,
table {
	color: #101010;
	color: var(--color_body);
	font-size: 12px;
	line-height: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "ë§‘ì€ ê³ ë”•", helvetica, "Apple SD Gothic Neo", sans-serif;
	font-weight: 500;
	letter-spacing: -0.4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	line-height: inherit;
}

textarea {
	backface-visibility: hidden;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	word-break: keep-all;
	word-wrap: break-word;
}

input,
button {
	border-radius: 0;
	border: 0;
}

button {
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
}

img,
fieldset {
	border: 0;
}

img {
	vertical-align: top;
}

ul,
ol {
	list-style: none;
}

em,
address {
	font-style: normal;
}

a {
	display: inline-block;
	vertical-align: top;
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

iframe {
	overflow: hidden;
	margin: 0;
	border: 0;
	padding: 0;
	vertical-align: top;
}

mark {
	background-color: rgba(0, 0, 0, 0);
}

i {
	font-style: normal;
}

input::-ms-clear,
input::-ms-reveal {
	display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
	display: none;
}

.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.wrap {
	position: relative;
	min-width: 320px;
	margin: 0 auto;
}

.header .nav_wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	max-width: 600px;
	margin: 0 auto;
}
.header .nav_wrap .nav_list {
	display: flex;
	align-items: center;
	line-height: 50px;
	border-radius: 25px;
	background-color: rgba(198, 198, 198, 0.25);
}
.header .nav_wrap .nav_item {
	flex: 1;
	text-align: center;
}
.header .nav_wrap .nav_item.on {
	color: #fff;
}
.header .nav_wrap .nav_item a {
	font-size: 16px;
	line-height: 50px;
	font-weight: bold;
	transition: color 0.2s 0.2s;
	text-decoration: none;
}
.header .nav_wrap .nav_item a:hover {
	text-decoration: none;
}
.header .nav_wrap .slider {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 20%;
	height: 50px;
	background-color: gray;
	border-radius: 25px;
	transition: all 0.4s ease-in-out;
}

.spot {
	position: sticky;
	height: 100vh;
	top: 0;
	z-index: 1;
	background-color: #000;
	width: 100%;
	left: 0;
}
.spot .spot_title {
	height: 100%;
	display: flex;
	align-items: center;
	text-align: center;
}
.spot .spot_title .swiper-wrapper {
	height: 20vw;
}
.spot .spot_title .swiper-slide {
	font-size: 20vw;
	line-height: 20vw;
	font-weight: 900;
	white-space: nowrap;
	color: #fff;
}

.rolling_banner .swiper-wrapper {
	transition-timing-function: linear;
}
.rolling_banner .swiper-slide {
	width: 100px;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	background-color: gray;
}

.intro {
	position: relative;
	z-index: 10;
	height: 1000px;
	background-color: #fff;
}
/*# sourceMappingURL=new.css.map */
